.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
.settings
settings
.cache/

.DS_Store

*.zip

# intintionally include the external jars in the repository, for the convenience of those who does not know Gradle
# Drivers/


store/